<div class="currency-selects">
  <mat-form-field>
    <input placeholder="Amount" min="0" type="number" matInput (input)="onAmountChange($event)">
  </mat-form-field>

  <mat-form-field>
    <mat-select id="selectCurrencyFrom" placeholder="Currency from" [value]="currencyFrom$|async"
                (selectionChange)="onSelectCurrencyFrom($event)">
      <mat-option *ngFor="let currency of currenciesFrom$|async" [value]="currency">{{currency.code}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button id="switchBtn" [disabled]="!(currencyFrom$|async) || !(currencyTo$|async)" (click)="onCurrencySwitch()"
            mat-button>
      <mat-icon>sync_alt</mat-icon>
    </button>
  </div>
  <mat-form-field>
    <mat-select placeholder="Currency to" id="selectCurrencyTo" [value]="currencyTo$|async"
                (selectionChange)="onSelectCurrencyTo($event)">
      <mat-option *ngFor="let currency of currenciesTo$ | async" [value]="currency">{{currency.code}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Result" [readonly]="true" [value]="result|async" matInput>
  </mat-form-field>
</div>
